/* New code diffn from player.css */



#symbolchoice{
    position: absolute;
    text-align: center;
    transform: scale(0);
    border-radius: 15px;
    /* padding-inline: auto; */
    height: 150px;
    width: 300px;
    background-color: rgb(19, 255, 161);
    border:solid rgb(0, 131, 98) 4px;
    color: rgb(1, 112, 83);
    left: 40%;
    /* right: auto; */
    top: 40%;
    opacity: 1;
    display: flex;
    /* border: solid red 3px; */
    margin-inline: auto;
    flex-direction: column-reverse;
    align-items: center;
    order: -1;
    transition-property: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0, 1.66, 1, 1.58);
    z-index: 20;
    font-family: Lato;
}
#symchoicemsg{
    margin-block: auto;
    font-size: 1.7em;
    font-weight: 600;
}
.symbol{
    border-radius: 100%;
    height: 50px;
    width: 50px;
    margin-bottom: 15%;
    margin-inline: 10px;
    transition-property: transform;
    transition-duration: 0.3s;
}

.symbol:hover{
    transform: scale(0.75)
}
#x{
    background-color: rgb(83, 114, 209);
    border: solid rgb(42, 71, 159) 4px;
    color: white;
    font-weight: 600;
}

#o{
    background-color: rgb(209, 83, 104);
    border: solid rgb(137, 21, 41) 4px;
    color: white;
    font-weight: 600;
}
#switchmode{
    position: absolute;
    background-color: rgb(83, 114, 209);
    border: solid rgb(42, 71, 159) 4px;
    color: white;
    font-weight: 600;
    height: 40px;
    border-radius: 10px;
    bottom: 0;
    cursor: pointer;
}